$pagination-color: #fff !default;
$pagination-bg:#0d6833 !default;

$pagination-focus-box-shadow:#0d6833;
$pagination-hover-bg:#013517;
$pagination-hover-color: #fff;
$pagination-active-color: #fff !default;
$pagination-active-bg: #013517 !default;
$pagination-active-border-color: #fff !default;

$pagination-disabled-color: #fff !default;
$pagination-disabled-bg: rgba(green, 0.7) !default;

$custom-file-text: (
  bg: "Преглед"
);